@import "tailwindcss";

/* MARGINS */
@layer base {
  .header-margin {
    @apply px-3 py-2;
  }
  .body-margin {
    @apply mx-auto max-w-3xl;
  }
  .main-margin {
    @apply px-6 py-3;
  }
  .center {
    @apply mx-auto max-w-3xl pb-13;
  }
  .footer-margin {
    @apply px-3 pt-16 pb-2;
  }
}

/* CUSTOM CLASSES */
@layer base {
  /* navbar */
  .navigation {
    @apply hover:text-accent active:text-foreground text-base tracking-wider select-none;
  }

  /* button */
  .button {
    @apply text-accent ring-accent hover:bg-accent hover:text-background rounded-lg px-3 py-1 tracking-wide ring-1 select-none hover:font-semibold active:ring-0;
  }

  /* heading */
  .heading {
    @apply py-6 text-5xl font-semibold select-none;
  }
  .sub-heading {
    @apply py-6 text-5xl select-none;
  }
  .section-heading {
    @apply pb-6 text-center text-3xl font-light tracking-widest select-none;
  }
  .blog-title {
    @apply py-3 pt-6 text-5xl font-semibold select-none;
  }

  /* common */
  .paragraph {
    @apply space-y-6 text-lg leading-relaxed opacity-90;
  }
  .link {
    @apply text-accent active:text-foreground decoration-dashed underline-offset-3 transition-all duration-100 ease-in-out hover:underline hover:underline-offset-6;
  }
  .figure {
    @apply relative my-6;
  }
  .image {
    @apply ring-accent h-auto w-full object-cover ring-1 select-none group-hover:brightness-75;
  }
  .figcaption {
    @apply absolute inset-0 flex items-center justify-center bg-black/40 p-3 text-center text-white/86 opacity-0 group-hover:opacity-100 sm:text-xl md:text-2xl lg:text-3xl;
  }
  .index {
    @apply selection:text-foreground text-foreground hover:text-accent active:text-foreground decoration-dashed underline-offset-3 transition-all duration-100 ease-in-out hover:underline hover:underline-offset-6;
  }

  /* socials */
  .socials {
    @apply hover:stroke-accent size-8 stroke-1 active:size-7;
  }

  /* divider */
  hr {
    @apply border-foreground/30 m-13;
  }
}

/* MARKDOWN STYLES */
@layer base {
  .markdown {
    /* @apply prose; */

    /* headings */
    h2 {
      @apply pt-13 pb-3 text-4xl;
      a {
        @apply text-foreground no-underline hover:no-underline;
      }
    }
    h3 {
      @apply pt-8 pb-2 text-3xl;
      a {
        @apply text-foreground no-underline hover:no-underline;
      }
    }
    h4 {
      @apply pt-6 pb-1 text-2xl;
      a {
        @apply text-foreground no-underline hover:no-underline;
      }
    }

    h5 {
      @apply pt-3 pb-1 text-xl;
      a {
        @apply text-foreground no-underline hover:no-underline;
      }
    }

    /* paragraph */
    p {
      @apply text-lg leading-relaxed opacity-90 dark:opacity-80;
    }

    /* url */
    a {
      @apply text-accent active:text-foreground decoration-dashed underline-offset-3 transition-all duration-100 ease-in-out hover:underline hover:underline-offset-6;
    }

    /* quote */
    blockquote {
      @apply bg-foreground/13 my-6 px-3 py-1 text-base opacity-80;
    }

    /* bold */
    strong {
      @apply font-bold opacity-90 dark:opacity-100;
    }

    /* description */
    em {
      @apply font-serif text-lg opacity-80 dark:opacity-90;
    }

    /* keyboard */
    kbd {
      @apply rounded-lg px-2 py-0.5 font-sans text-base ring-1;
    }

    /*  code */
    .astro-code {
      @apply ring-accent my-6 p-6 ring-1;
    }
    .astro-code code {
      @apply bg-inherit p-0;
    }
    code {
      @apply bg-accent text-background rounded-lg px-2 py-0.5 font-mono text-base font-semibold opacity-90;
    }

    /* lists */
    ol {
      @apply list-decimal space-y-1 px-8 py-1 text-lg leading-relaxed opacity-90;
    }
    ul {
      @apply list-disc space-y-1 px-8 pb-6 text-lg leading-relaxed opacity-90;
    }
    li {
      @apply px-1 leading-relaxed;
    }

    /* dictionary */
    dl {
      @apply visible;
    }
    dt {
      @apply visible;
    }
    dd {
      @apply visible;
    }

    /* table */
    table {
      @apply mx-auto my-8 w-full opacity-90;
    }
    tr {
      @apply visible;
    }
    th {
      @apply bg-foreground/8 ring-foreground/18 visible px-3 py-0.5 text-center ring-1;
    }
    td {
      @apply ring-foreground/18 px-3 py-1 ring-1;
    }

    /* image block */
    figure {
      @apply relative my-8;
    }
    figcaption {
      @apply absolute inset-0 flex items-center justify-center bg-black/40 p-3 text-center text-white/86 opacity-0 group-hover:opacity-100 sm:text-xl md:text-2xl lg:text-3xl;
    }

    /* media */
    img {
      @apply ring-accent ring-1 select-none group-hover:brightness-75;
    }
    video {
      @apply ring-accent my-6 ring-2 select-none;
    }

    /* line breaker */
    hr {
      @apply border-foreground/30 mx-13 mt-13 mb-3;
    }
  }
}
