---
import ThemeToggle from "./ThemeToggle";
import { IconRss, IconSearch } from "@tabler/icons-react";
import Navigation from "./Navigation.astro";
---

<header
  class="header-margin sticky top-0 z-0 flex items-center justify-between"
>
  <a
    href="/"
    class:list={[
      "text-xl tracking-wider select-none",
      Astro.url.pathname === "/" ? "text-accent" : "",
    ]}>Ryze</a
  >
  <div class="flex items-center justify-center gap-6">
    <Navigation />

    <div class="flex items-center justify-center gap-4">
      <ThemeToggle client:load />
      <a href="/rss.xml" aria-label="rss" title="rss"
        ><IconRss className="active-foreground size-5" /></a
      >
    </div>
  </div>
</header>
