---

---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <p>
    Ryze is a static, minimal, responsive and SEO-friendly blog theme on Astro.
    This theme follows best practices and provides accessibility out of the box.
    Light and dark mode are supported by default. Moreover, additional color
    schemes can also be configured.
  </p>
  <p>
    Read the featured blog posts or check <a
      href="https://github.com/8366888C/Ryze/blob/main/README.md"
      target="blank"
      class="link">README</a
    > for more info.
  </p>
</div>
