---

---

<nav class="flex items-center justify-center gap-4">
  <a
    href="/luu-tru/1"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/luu-tru") ? "text-accent" : "",
    ]}>lưu trữ</a
  >
  <a
    href="/the"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/the") ? "text-accent" : "",
    ]}>thẻ</a
  >
</nav>
