---
import {
  IconBrandDiscord,
  IconBrandGithub,
  IconBrandLinkedin,
  IconBrandYoutube,
  IconBrandTwitter,
} from "@tabler/icons-react";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://github.com/" target="blank" aria-label="gitbub"
    ><IconBrandGithub className="socials" /></a
  >
  <a href="https://youtube.com/" target="blank" aria-label="youtube"
    ><IconBrandYoutube className="socials" /></a
  >
  <a href="https://in.linkedin.com" target="blank" aria-label="linkedin"
    ><IconBrandLinkedin className="socials" /></a
  >
  <a href="https://discord.com" target="blank" aria-label="discord"
    ><IconBrandDiscord className="socials" /></a
  >
  <a href="https://twitter.com" target="blank" aria-label="twitter"
    ><IconBrandTwitter className="socials" /></a
  >
</div>
