---
import Seo from "../components/Seo.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description, image, url } = Astro.props;
import "@fontsource-variable/space-grotesk";
import "@fontsource/ibm-plex-mono";
import "../styles/global.css";
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Seo {title} {description} {url} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ryze"
      href={new URL("rss.xml", Astro.site)}
    />
    <script is:inline>
      const savedTheme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      const prefersLight = window.matchMedia(
        "(prefers-color-scheme: light)",
      ).matches;

      if (savedTheme === "light" || (!savedTheme && prefersLight)) {
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.add("light");
      } else if (savedTheme === "dark" || (!savedTheme && prefersDark)) {
        document.documentElement.classList.remove("light");
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body class="body-margin">
    <Header />
    <main class="main-margin bg-background relative z-1 min-h-svh">
      <slot />
    </main>
    <Footer />
  </body>
</html>
